/* Builtin classes that might come in handy */

.App {
  text-align: center;
  background-color: #7d8379;
  height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Buttons on home page */

.button-container {
  display: flex; /* This lets buttons scale to screen */
}

.home-buttons {
  color: white;
  font-size: xx-large;
  min-height: 60px;
  width: 90% !important;
  margin: 10px auto;
  padding: 5px;
  background-color: #3d3f3b;
  box-shadow: 0 0 0pt 1pt #b1d898; /* rounded corners on outline */
  border-radius: 5px;
  text-align: left;
}

.circle-icon {
  background-color: white;
  color: #72bb53 !important;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 5px 8px 8px 8px; /* Center the icon in the circle */
  margin: 5px 30px 5px 5px; /* Leave space between icon and text */
}